body{
  background-color: pink;
}
video {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 25content://com.android.externalstorage.documents/tree/primary%3Acoding::primary:coding/index.css0px;
}
h1{
  text-align: center;
  margin-top: 40px;
}

.letterformybaby{
  text-align: center;
  margin-left:100px;
  margin-right:100px;
  margin-top: 50px;
  color: black;
}
